#album{
    height : 100px;
    color:#ffffff;
    display: inline-block;
    padding-left: 2.6%;
    padding-top: 2%;
    cursor:pointer;
    width: 24.3%;
}


section{
    width:100%;
    height:172px;
    background-color:rgba(255,255,255,0.1);
}

section img{
    padding-top: 3%;
    padding-left: 7.5%;
}

section+section{
    background:#0c1e35;
    width:100%;
    height:60px;
    margin-top: -5%;
}

h4{
    font-size: 14px;
    padding-left: 4%;
    padding-top: 3%;
}

h3{
    font-size: 10px;
    padding-left: 20%;
    margin-top: -12%;
    color:#9b9b9b;

}

h3+h3{
    font-size: 7px;
    padding-left: 20%;
    margin-top: -3%;
    letter-spacing:0;
    color:#9b9b9b;
}

section+section img{
    width: 19%;
    height: 30px;
    margin-top: -8%;
    margin-left: -3%;
}

section+section div img{
    float: right; 
    margin-top: -21.5%;
    margin-right: 5%;

}

section+section div img+img{
    margin-right: 20%;
    margin-top: -21.5%;
}