img{
    float: left;
    padding-right: 0%;
    padding-top: 6.5%;
    margin-left: 7%;
}

h1{
    font-size: 30px;
    border-bottom: 1px solid #c0c7cf;
    width: 13%;
    float: left;
    padding-bottom: 1%;
    color: #ffffff;
    margin-left: 1.5%;
    margin-top: 5.5%;
}

input{
    float : right;
    border:none;
    margin-top: -5%;
    margin-right: 1%;
    border-radius: 7px;
    background: #40536b url('../../../../assets/images/search.png') no-repeat;
    background-position: 5% 50%;
    font-size: 13px;
    text-indent: 18%;
    height: 20px;
}

input::placeholder{
    color:#778495;
}

#inputFav{
    margin-top: 7%;
    margin-right: 8.5%;
}

#popular{
    width: 270px;    
}


/*#icon{
    margin-left: -30px;
}*/


.content{
    float : left;
    background-color: #173356;
    height: 100%;
    width : 85%;
}

app-intro-favorite, app-intro-popular,app-intro-albums{
    background: url('../../../../assets/images/albumsBg.png');
    width: 90%;
    display: block;
    color : #fff;
    margin-left: 4%;
    margin-top: 4%;
}

app-intro-favorite{
    height: 670px;    
}

app-intro-popular{
    height: 350px;    
}

app-intro-albums{
    height: 827px;    
}

#line{
    height: 1px;
    width: 90%;
    border-top: 1px solid #566577;
    margin-left: 4%;
    margin-top: 5%;
}