    <aside>
        <section id="album">
            <img src='assets/images/20.png'>
            <img src="{{album.albumImgPlayer}}">
            <p>{{album.albumName}}</p>
            <p>{{album.djName}}</p>
        </section>

        <section id="song">
            <img src="{{songPlayed.songImg}}">
            <img src='assets/images/sortButton.png'>
            <p>{{songPlayed.songName}}</p>
            <p>{{songPlayed.singerName}}</p>
        </section>
            

        <section id="play">
            <img src='assets/images/backward.png'(click)="onBackwardClick()">
                <img src="assets/images/play.png" (click)="onPlayClick()" *ngIf="isPlayed == false" >
                <img src="assets/images/puse.png" (click)="onPuseClick()" *ngIf="isPlayed == true">
            <img src='assets/images/forward.png' (click)="onForwardClick()">
        </section>
        <section id="more">
            <img src='assets/images/upload.png'>
            <img src='assets/images/add1.png'>
        </section>

        <youtube-player
            [videoId]="id"
            (ready)="savePlayer($event)"
            (change)="onStateChange($event)">
        </youtube-player>

    </aside>