h1{
    font-family:HelveticaNeue-Bold;
    font-size:28px;
    color:#ffffff;
    font-weight: bold;
    letter-spacing:1px;
    padding-left: 3%;
    position: absolute;
    margin-top: 1%;
}

a+a{
    font-family:HelveticaNeue-Medium;
    font-size:12px;
    letter-spacing:0;
    text-decoration: none;
    position: absolute;
    margin-left: 75%;
    padding-top: 1.7%;
    color:#9b9b9b;
}

a+a+a{
    font-size:12px;
    margin-left: 80%;
    padding-top: 1.7%;
    color:#ffffff;
}

a+a+a+a{
    font-size:15px;
    margin-left: 87%;
    padding-top: 1.4%;
}